documents/
/errors/
__pycache__
.DS_Store
errores_clientes.json
*.xlsx
.env
.vscode

# Build artifacts
dist/
build/
*.egg-info/

# Poetry
poetry.lock

# PyPI
.pypirc
invoices_error.json
notebooks/
.ipynb_checkpoints/